<!-- Header -->
<div class="header">
  <app-header></app-header>
</div>
<div style="display: flex">
  <!-- Sidebar -->
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-content">
    <!-- Top Cards -->
    <app-top-cards [topCardsData]="topCards"></app-top-cards>

    <div class="row my-4">
      <div class="col-8">
        <!-- Recent Orders -->
        <div class="dashboard-card recent-order-div" *ngIf="recentOrders">
          <app-recent-orders
            [recentOrdersData]="recentOrders"
          ></app-recent-orders>
        </div>
      </div>
      <div class="col-4">
        <!-- New users registration -->
        <div class="dashboard-card new-users-div" *ngIf="newUsers">
          <app-new-users [newUsersData]="newUsers"></app-new-users>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <!-- Sales statistics -->
        <div class="dashboard-card">
          <app-sales-statistics></app-sales-statistics>
        </div>
      </div>
      <div class="col-4">
        <!-- Balance overview -->
        <div class="dashboard-card">
          <app-balance-overview></app-balance-overview>
        </div>
      </div>
      <div class="col-4">
        <!-- Top products -->
        <div class="dashboard-card">
          <app-top-products></app-top-products>
        </div>
      </div>
    </div>
  </div>
</div>
